@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}



@theme{
  --color-user:#571244;
  --color-assessment:#EF4353;
  --color-user-bg:#DDD0DA;
  --color-learnmgt-bg:#5712441A;
  --background-image-hero:url("/training-hero-bg.jpg")
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

